<!doctype html>
<html class="no-js" lang="en">
<%- include('../../partials/header') %>
<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">
        <!-- sidebar menu area start -->
        <%- include('./sidebar') %>
        <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div class="main-content">
            <!-- header area start -->
            <%- include('../../partials/main_header') %>
            <!-- header area end -->
            <!-- page title area start -->
            <%- include('../../partials/page_title') %>
            <!-- page title area end -->
            <div class="main-content-inner">
                <div class="row">
                  <!-- basic form start -->
                  <div class="col-6 mt-5">
                      <div class="card">
                          <div class="card-body">
                              <% if (msgErr) { %>
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <strong><%= msgErr %></strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span class="fa fa-times"></span>
                                    </button>
                                </div>
                              <% } %>
                              <h4 class="header-title">Search Student</h4>
                              <form action="/school/student/validate" method="post" id="formstudent">
                                  <div class="form-group">
                                      <label for="name">NISN</label>
                                      <input type="text" class="form-control" id="nisn" name="nisn">
                                  </div>
                                  <button type="submit" class="btn btn-primary mt-4 pr-4 pl-4">Submit</button>
                              </form>
                          </div>
                      </div>
                  </div>
                  <!-- basic form end -->
                </div>
            </div>
        </div>
        <!-- main content area end -->
        <!-- footer area start-->
        <%- include('../../partials/footer') %>
        <!-- footer area end-->
    </div>
    <!-- page container area end -->
    <!-- jquery latest version -->
    <%- include('../../partials/script') %>
</body>

</html>

